.login-logo img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: center;
}

body {
    background-image: url("https://i.ibb.co/tTFsBCTD/Imagem-Background.jpg");
    background-size: cover;
    background-position: center center;
    height: 87vh;
}



